.register-a-link {
  margin: 0 0 0 10px;
  display: inline-block;
  color: blue;
}

.login h2 {
  color: rgb(46, 41, 41);
  text-align: center;
  text-decoration: underline;
  margin: 35px 0;
}

.logged-container {
  width: 100vw;
  margin: 10% auto;
}

.logged-container h2 {
  color: rgb(46, 41, 41);
  text-align: center;
  text-decoration: underline;
  margin: 35px 0;
}

/*---------- ICON COLOR FILL ----------*/
.login-pic {
  color: green;
}
.login-lock-icon {
  color: red;
}
/*-------------------------------------*/

/*---- LOGIN ICON POSITIONS ----*/
.login-pic {
  position: absolute;
  right: 4%;
  top: 26%;
}

.login-lock-icon {
  position: absolute;
  right: 4%;
  top: 25%;
}
.div-button {
  width: 50vw;
  margin: 0 auto;
}
.log-out[type="submit"] {
  width: 50vw;
}

/* members styles */

.members-containers {
  background-color: rgba(4, 4, 3, 0.698);
  width: 90%;
  height: 60%;
  margin: 80px auto;
  padding: 25px 10px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 1px 1px 50px 1px rgba(27, 27, 27, 0.553);
  overflow: scroll;
}
.members-container h4 {
  color: white;
}

.members p {
  color: white;
}
