.register h2 {
  color: rgb(46, 41, 41);
  text-align: center;
  text-decoration: underline;
  margin: 35px 0;
}

.form-box {
  width: 50vw;
  margin: 10% auto;
}
/*---------- IPUT CONTAINER ----------*/
.input-box {
  position: relative;
}
/*---------- ICON COLOR FILL ----------*/
.reg-user-icon {
  color: green;
}
.password-lock-icon,
.password-lock-icon-2 {
  color: red;
}
.email-icon {
  color: rgb(98, 153, 174);
}
/*-------------------------------------*/

/*---- REGISTRATION ICON POSITIONS ----*/
.email-icon {
  position: absolute;
  right: 4%;
  top: 26%;
}

.reg-user-icon {
  position: absolute;
  right: 4%;
  top: 26%;
}

.password-lock-icon {
  position: absolute;
  right: 4%;
  top: 25%;
}

.password-lock-icon-2 {
  position: absolute;
  right: 4%;
  top: 26%;
}
/*-------------------------------------*/

/*-------------------------------------*/
/* Error Message */
.error-message p {
  color: red;
}
/*-------------------------------------*/

/*-------------------------------------*/
/* Success Message */
.success-message p {
  color: green;
}
/*-------------------------------------*/
/* MEDIA QUERY */

@media (max-width: 64em) {
  .register-button[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 52em) {
  .register-button[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 48em) {
  .register-button[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 27em) {
  .lregister-button[type="submit"] {
    width: 100%;
  }
}
